
/* Header css */


.alert1{
    background-color: #316dc3;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
    margin-top: -40px !important;
}
.logos{
    display: inline;
}
.logo-image{
    margin-left: 20px;
}

.btn{
    background-color: white;
}

/* navbar */

.saylani-logo{
    margin-right: 20%;
    margin-left: 10%;
}

/* introduction */
.intro-heading{
    text-align: center;
    padding-top: 5%;
    color:  rgba(36, 79, 242, 1);
}
.intro-fav{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}
.introduction{
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 8%;
    background-color: #f7f8fa;

}
span{
    color: #70eb60;
}

/* numbers */

.numbers{
    background-color: rgba(36, 79, 242, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 5% 5%;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .numbers{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* services */

.services{
    background-color: #f7f8fa;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

.services-heading{
    text-align: center;
    padding-top: 5%;
    color:  rgba(36, 79, 242, 1);
}
.services-fav{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  height: 50px;
  width: 50px;
}

  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 33%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 30px;
    text-align: center;
    background-color: white;
    margin-bottom: 25px;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 25px;
    }
  }

/* Mission and upcoming projects */


.container{
    margin-top: 5%;
    color: rgba(36, 79, 242, 1);
}
.col{
    background-color: #f7f8fa;
    margin: 10px;
}
.para{
    color: gray;
    margin-top: 5%;
}
@media screen and (max-width: 600px) {
    .container {
        /* text-align: center; */
      /* width: 100%;
      display: block; */
      margin-bottom: 25px;
      margin-left: 40px;
    }
    .mission-heading{
        text-align: center;
    }
  }

/* Image gallery */


.gallery-heading{
    text-align: center;
    padding-top: 5%;
    color:  rgba(36, 79, 242, 1);
}
.gallery-fav{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
img{ max-width:100%;}

.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height: 304px;
}
.gallery_box li:nth-child(odd) {
    height: 438px; 
}
.gallery_box li:nth-child(odd) .box_data{ background:rgba(0,0,0,0.17) }
.gallery_box li:nth-child(even) .box_data{ background:rgba(0,44,255,0.27) }
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.gallery_box li:hover .box_data{ background:rgba(255,0,39,0.55)}


/* footer  */


footer{
	position: fixed;
	bottom: 0;
}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
 
 
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}